.projectsSection {
  width: 67vw;
}

.projectHeader {
  background-image: linear-gradient(
    105deg,
    hsl(191deg 48% 62%) 0%,
    hsl(198deg 53% 65%) 11%,
    hsl(205deg 54% 68%) 22%,
    hsl(215deg 51% 72%) 33%,
    hsl(230deg 42% 75%) 44%,
    hsl(257deg 35% 74%) 56%,
    hsl(287deg 29% 72%) 67%,
    hsl(318deg 33% 71%) 78%,
    hsl(336deg 42% 72%) 89%,
    hsl(350deg 46% 73%) 100%
  );
  text-align: left;
  width: 50%;
  color: transparent;
  background-clip: text;
  font-size: 40px;
  margin-top: 0px;
}

.projectsSparkle {
  color: #da9aa5;
}

.menuBtn:hover{
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .projectHeader {
    width: 100%;
    text-align: center;
    font-size: 27px;
  }
  .projectsSection {
    place-items: center;
    display: flex;
    flex-direction: column;
  }
}
